:root {
    --button-color: #3882F6;
    --dark-background: #1F2937;
    --main-text-color : #F9FAF8;
    --link-color : #e5e7eb;
    --info-heading-color: #1F2937; 
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--dark-background);
    width: 100%;
    height: auto;
    padding: 0 15%;
}

.header-section {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin: 30px 0;
}


.nav {
    display: flex;
    justify-content: flex-end;
}


.logo{
    color: var(--main-text-color);
    font-size: 24px;
}

.main-hero {
    font-size: 48px;
    font-weight: 900;
    color: var(--main-text-color);
}

.nav-link, .hero-message{
    font-size: 18px;
    color: var(--link-color);
}

.nav-link{
    text-decoration: none;
}


.header-flex-item{
    width: 50%;
}

.header-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.nav-link {
    margin-left: 10px;
}


.hero-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sign-up, .hero-button {
    width: 150px;
    background-color: var(--button-color);
    padding: 10px 25px;
    color: var(--main-text-color);
    font-weight: 900;
    border-radius: 5px;
}


.button-link{
    text-decoration: none;
}
.sign-up{
    border: solid;
}

.hero-button {
    border: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    padding: 0 10%;
}

.information-cards{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin: 45px 0;
    gap: 40px;
}

.info-fig {
    display: flex;
    flex-direction: column;
    width: 15%;
    margin-right: 20px;
}

.fig-image {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border: 3px solid var(--button-color);
    border-radius: 20px;
}

.info-heading{
    color:var(--info-heading-color);
    font-size: 36px;
    font-weight: 900;
    margin-top: 40px;
}

.qoute-section {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: var(--link-color);
    justify-content: center;
    padding: 10%;
}


.fig-caption{
    width: 100%;
    height: 10%;
    color: var(--link-color);
    font-size: 18px;
}

.qoute-author, .qoute {
    font-size: 36px;
    
}

.qoute-author{
    text-align: end;
}


.qoute {
    color: #1F2937;
    font-style: italic;
}

footer{
    display: flex;
    height: 100px;
    width: 100%;
    background-color: var(--dark-background);
    color: var(--link-color);
    font-size: 24px;
    align-items: center;
    justify-content: center;
}


.sign-up-section{
    color: var(--main-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 5%;
}

.sign-up-card{
    width: 90%;
    background-color: var(--button-color);
    display: flex;
    row-gap: 20px;
    padding: 2% 5%;
    border-radius: 10px;
    justify-content: space-evenly;
}

.action{
    font-weight: 900;
}


a:visited{
    color: var(--main-text-color);
}


a:hover{
    cursor: pointer;
    color: var(--button-color);
}




